@import "compass";
@import "compass/layout/sticky-footer";
@import "lib/reset";
@import "lib/variables";
@import "lib/pxtoem";

@import "sections/header";
@import "sections/footer";

/* HERE WE GO */
body {
    font-family: $encodeNormalLight;
    font-size: 14px;
    color: $text;
    height: 100%;

    a {
    	text-decoration: underline;
    	color: inherit;
    	&:hover {
    		color: $highlight;
    	}
    }
	&#roadmap {
		.wrapper {
			background: url("../images/background.jpg") no-repeat center;
			@include background-size(cover);
		}
	}
}
#content {
	h2 {
		font-family: $encodeCompSB;
		text-transform: uppercase;
		font-size: em(20px);
		margin-bottom: 1em;
	}

	p {
		line-height: 17px;
		margin-top: 1em;
		&:first-child {
			margin-top: 0;
		}
	}
	.description {
		background: #000000;
		background: rgba(0,0,0,0.8);
		padding: 20px;
	}

	#what-is-ecc {
		width: 680px;
		padding: 10px;
		margin: 0 auto 50px;
		background: #ffffff;
		background: rgba(255,255,255,0.2);
	}
	#list-roadmap {
		width: 464px;
		padding: 10px;
		margin: 0 auto 50px;
		background: #ffffff;
		background: rgba(255,255,255,0.2);

		li {
			list-style-type: square;
			line-height: em(17px);
			margin: 0.3em 0 0 17px;

			&:first-child {
				margin-top: 0;
			}

			&.disabled {
				color: $disabled;
			}

			i {
				color: $highlight;
			}
		}
	}

	.formNewsletter {
		margin: 0 auto 50px;
		width: 300px;

		label {
			font-family: $encodeCompSB;
			text-transform: uppercase;
			font-size: em(20px);
		}
		input[type="text"] {
			@include inline-block;
			@include box-sizing(border-box);
			background: #FFFFFF;
			background: rgba(255,255,255,0.1);
			border: 1px solid #000000;
			color: $text;
			font-family: $encodeNormalLight;
			font-size: em(14px);
			height: 40px;
			margin-top: 1em;
			padding: 10px;
			width: 250px;
		}
		input[type="submit"] {
			@include inline-block;
			@include box-sizing(border-box);
			@include background(linear-gradient(top, #e79300 0%, #e39100 55%, #b47300 90%, #a76a00 100%));
			border: 1px solid #000000;
			color: $text;
			cursor: pointer;
			font-size: em(14px);
			height: 40px;
			margin-top: 1em;
			text-align: center;
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			width: 40px;
			&:hover {
				@include background(linear-gradient(top,#189fcc 0%, #179bc7 55%, #137c9f 90%, #18738c 100%));
			}
		}
	}
}